# sprout storage specific rc file.

import /init.a106_common.rc

on init
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/media_rw/sdcard 0700 media_rw media_rw
    mkdir /storage/sdcard 0700 root root

    export EXTERNAL_STORAGE /storage/sdcard

    # Support legacy paths
    symlink /storage/sdcard /sdcard
    symlink /storage/sdcard /mnt/sdcard
